
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');


body {
  background-color: #530652;
  font-family: 'Sarina', cursive;
  color:#4a0148;
  margin: 0;
  position: relative;
  padding: 0;
}


.main-page {
  background-color: #f8c8e9c7;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
}


.square {
  min-height: 32vh;
  padding: 200px;
  background-color: #ec19634f;
  border-radius: 20px;
  position: fixed;
}

.square2 {
  @extend .square;
  min-height: 30vh;
  left: 130.5vh;
  bottom: 6vh;
}


.Geltitle {
  position: fixed;
  left: 142vh;
  bottom: 85vh;
}

.ChooseShape {
  position: relative;
  left: 3vh;
  top: 1vh;
}


.almond { 
  top: -95vh;
  left: 3vh;

}

.ballerina { 
  top: -95vh;
  left: 8vh;
}

.oval { 
  top: -75vh;
  left: -11vh;
}

.squarenail { 
  top: -55vh;
  left: -30vh;
}

.squoval { 
  top: -35vh;
  left: -49vh;
}

.stiletto { 
  top: -75vh;
  left: -90vh;
}

.flare { 
  top: -55vh;
  left: -108vh;
}

.lipstick { 

  top: -35vh;
  left: -127vh;
}

img{
  z-index:0;
  position: relative;
  left: 10vh;
  top:5vh;
}


.stars{
  position: fixed; 
  z-index:-1;

}

.polish{
  position: fixed;
  left:22vh;
  z-index:-1;
}

.handmodel2 {
  position: relative;
  top: -9vh;
  left: 15vh;
}


.polish1, .polish2, .polish3, .polish4, .polish5, .polish6, 
.polish7, .polish8, .polish9, .polish10, .polish11, .polish12 {
  position: fixed;
  
}

.polish1 { 
  left: 119vh; 
  top: 15vh; 
  width:300px;
}
.polish2 { 
  left: 131vh; 
  top: 15vh; 
  width:300px;
}
.polish3 { 
  left: 142vh;
   top: 15vh;
   width:320px;
   }
.polish4 { 
  left: 155vh; 
  top: 15vh; 
  width:300px;
}
.polish5 { 
left: 116vh; 
top: 38vh; 
width:350px;
}
.polish6 { 
  left: 132vh; 
  top: 38.5vh; 
  width: 310px;
}
.polish7 { 
  left: 141vh; 
  top: 38.9vh; 
  width:325px;
}
.polish8 { 
  left: 150vh; 
  top: 38vh;
  width:335px;
 }
.polish9 { 
  left: 117vh; 
  top: 67vh; 
  width:335px;
}
.polish10 { 
  left: 125.5vh;
   top: 66.4vh; 
   width:382px;
  }
.polish11 { 
  left: 140vh;
   top: 67.3vh; 
   width:350px;
  }
.polish12 { 
  left: 154vh; 
  top: 67.6vh; 
  width:325px;
}


.button {
  position: fixed;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fcfcfc;
  background-color: #8f32a4;
  border-radius: 45px;
  border: 2px solid #530652;
  box-shadow: 0px 8px 15px rgba(66, 27, 62, 0.902);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  left: 82.5vh;
  top: 85vh;
  z-index: 3;
}

.button:hover {
  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(192, 46, 229, 0.4);
  color: #000000;
  transform: translateY(-7px);
}


.pinkdust, .pinkdust2, .pinkdust3, .pinkdust4 {
  position: fixed;
  z-index: 0;
}

.pinkdust { top: -22vh; left: 0vh; transform: rotate(-15deg); }
.pinkdust2 { top: -30vh; left: -38vh; transform: rotate(-90deg); }
.pinkdust3 { top: 35vh; left: 50vh; transform: rotate(90deg); }
.pinkdust4 { top: 10vh; left: 13vh; transform: rotate(180deg); }
